:root {
  --color-light: #faf4ea;
  --color-dark: #31261a;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
}
/* base class*/
body {
  color: var(--color-dark);
}
ul {
  list-style-type: none;
}
/* button class*/
.button {
  color: var(--color-light);
  border: 2px solid var(--color-brand-light);
  background-color: var(--color-brand-light);
  border-radius: 8px;
}
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  cursor: pointer;
}
/* link class */
.link {
  color: var(--color-light);
}
.link:hover {
  color: var(--color-brand-light);
}
/* hero class */
.hero-title {
  color: var(--color-light);
}
.hero-title .accent {
  color: var(--color-brand-light);
}
/* advantages class */
.advantages-list {
  background: var(--color-brand-light);
  color: var(--color-light);
}
.section-title .accent {
  color: var(--color-brand-dark);
}
